<div class="home-page-container">
    <div class="home-page-banner-container">
        <div class="banner-toolbar-block">
            <div class="banner-toolbar">
                <button mat-button class="about-btn">About</button>
                <button mat-button class="contact-us-btn">Contact Us</button>
            </div>
        </div>
        <div class="banner-contents-block">
            <div class="banner-heading">Shopping <br>Stores</div>
            <div class="banner-sub-heading">Connect. Bond. Grow.</div>
        </div>
    </div>
    <div class="home-page-body-container">
        <div class="soaps-block">
            <div class="soaps-block-1">
                <div class="soaps-img-p"></div>
                <div class="soaps-img-s">
                    <div class="soaps-img-s-1"></div>
                    <div class="soaps-img-s-2"></div>
                </div>
            </div>
            <div class="soaps-block-2">
                <div class="soaps-title">Hand Made Soaps</div>
                <div class="soaps-content">Get the best quality hand-made Soaps at Shopping Stores with various choices, ancient fragnances to give rich lather and delighful skin.</div>
                <div class="soaps-shop-btn-block">
                    <button mat-stroked-button class="soaps-shop-btn" (click)="shopNow('soaps')">SHOP NOW</button>
                </div>
            </div>
        </div>
        <div class="diyas-block">
            <div class="diyas-block-1">
                <div class="diyas-img-p"></div>
                <div class="diyas-img-s">
                    <div class="diyas-img-s-1"></div>
                    <div class="diyas-img-s-2"></div>
                </div>
            </div>
            <div class="diyas-block-2">
                <div class="diyas-title">Hand Painted Diyas</div>
                <div class="diyas-content">Explore our beautifully hand-painted diyas with unique designs and attractive multi-coloured diyas to bring traditional tiwsts and positivity in your home.</div>
                <div class="diyas-shop-btn-block">
                    <button mat-stroked-button class="diyas-shop-btn" (click)="shopNow('diyas')">SHOP NOW</button>
                </div>
            </div>
        </div>
        <div class="garlics-block">
            <div class="garlics-block-1">
                <div class="garlics-img-p"></div>
                <div class="garlics-img-s">
                    <div class="garlics-img-s-1"></div>
                    <div class="garlics-img-s-2"></div>
                </div>
            </div>
            <div class="garlics-block-2">
                <div class="garlics-title">Freshly Peeled Garlics</div>
                <div class="garlics-content">We provide fresh Peeled Garlic service on your orders, at the best price for your convenience and ease.</div>
                <div class="garlics-shop-btn-block">
                    <button mat-stroked-button class="garlics-shop-btn" (click)="shopNow('garlics')">ORDER NOW</button>
                </div>
            </div>
        </div>
        <div class="peas-block">
            <div class="peas-block-1">
                <div class="peas-img-p"></div>
                <div class="peas-img-s">
                    <div class="peas-img-s-1"></div>
                    <div class="peas-img-s-2"></div>
                </div>
            </div>
            <div class="peas-block-2">
                <div class="peas-title">Freshly Peeled Peas</div>
                <div class="peas-content">We provide fresh Peeled Peas service on your orders, at the best price for your convenience and ease.</div>
                <div class="peas-shop-btn-block">
                    <button mat-stroked-button class="peas-shop-btn" (click)="shopNow('peas')">ORDER NOW</button>
                </div>
            </div>
        </div>
        <div class="dairy-block">
            <div class="dairy-block-1">
                <div class="dairy-img-p"></div>
                <div class="dairy-img-s">
                    <div class="dairy-img-s-1"></div>
                    <div class="dairy-img-s-2"></div>
                </div>
            </div>
            <div class="dairy-block-2">
                <div class="dairy-title">Home Made Dairy Products</div>
                <div class="dairy-content">Get amazing delicious and creamy home made Dairy Products with incredible nutritional properties and keep your family healthier and happier. </div>
                <div class="dairy-shop-btn-block">
                    <button mat-stroked-button class="dairy-shop-btn" (click)="shopNow('dairy')">ORDER NOW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="home-page-footer-container">
        <div class="footer-block-1">
            <div class="footer-title">Shopping <br>Stores</div>
            <div class="footer-copyright"></div>
        </div>
        <div class="footer-block-2">
            <div class="footer-contents">
                <div class="footer-content">About</div>
                <div class="footer-content">Contact Us</div>
            </div>
            <div class="footer-contents">
                <div class="footer-content">Feedback</div>
                <div class="footer-content">Terms & Condition</div>
            </div>
        </div>
    </div>
</div>